
fieldset {
    border: none;
    padding: 1em;
}

.container {
    margin: 1em auto;
    width: 80%;
    padding: 1em;
    border-radius: 1em;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.separable > * {
    margin-bottom: 2em;
}