<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="00088116">

    <title>Skul 5</title>

    <link href="webjars/materialize-css/dist/css/materialize.min.css" rel="stylesheet">
    <link href="global.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body id="top">
<header>
<nav>
    <div class="nav-wrapper black">
        <a href="/" class="brand-logo">Skul 5</a>
        <ul id="nav-mobile" class="right">
            <li><a href="/listado">Listado</a></li>
        </ul>
    </div>
</nav>
</header>
<main>
    <div class="container z-depth-4 shit">
        <h1 class="mt-4 text-center">Ingreso de nuevo alumno</h1>
        <div class="row">
            <div class="col sm12 m10 l8">
                <form action="#" method="post" th:action="@{/register}" th:object="${student}">
                    <fieldset name="basic">
                        <div class="input-field">
                            <label for="input-name">Nombre</label>
                            <i class="material-icons prefix">person</i>
                            <input type="text" id="input-name" th:field="*{name}" class="validate"
                                   placeholder="Eduardo José"
                                   aria-describedby="name-help"
                                   data-length="50">
                            <small id="name-help" class="helper-text red-text" th:errors = "*{name}"></small>
                        </div>
                        <div class="input-field">
                            <label for="input-lastname">Apellido</label>
                            <i class="material-icons prefix">person</i>
                            <input type="text" id="input-lastname" th:field="*{lastName}" class="validate"
                                   placeholder="Flores"
                                   aria-describedby="last-name-help"
                                   data-length="50">
                            <small id="lastname-help" class="helper-text red-text" th:errors = "*{lastName}"></small>
                        </div>
                    </fieldset>
                    <fieldset name="about">
                        <div class="input-field">
                            <label for="code">Carnet</label>
                            <i class="material-icons prefix">contact_mail</i>
                            <input type="text" id="code" th:field="*{code}" class="validate"
                                   placeholder="00012320"
                                   aria-describedby="code-help">
                            <small id="code-help" class="helper-text red-text" th:errors = "*{code}"></small>
                        </div>
                        <div class="input-field">
                            <label for="career">Carrera</label>
                            <i class="material-icons prefix">people</i>
                            <input type="text" id="career" th:field="*{career}" class="validate"
                                   placeholder="Ing. informatica"
                                   aria-describedby="career-help">
                            <small id="career-help" class="helper-text red-text" th:errors = "*{career}"></small>
                        </div>
                    </fieldset>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </form>
            </div>
        </div>
    </div>
</main>
<footer class="page-footer black">
    <div class="footer-copyright">
        <div class="container">
            <p class="grey-text text-lighten-4 right">
                copyright 2020© under apache 2.0 licence
            </p>
            <p class="grey-text text-lighten-4">Autor: 00088116</p>
        </div>
    </div>
</footer>
<script src="webjars/materialize-css/dist/js/materialize.min.js"></script>
</body>
</html>