<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="00088116">

    <title>Skul 5</title>

    <link href="webjars/materialize-css/dist/css/materialize.min.css" rel="stylesheet">
    <link href="global.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
<header>
    <nav>
        <div class="nav-wrapper black">
            <a href="/" class="brand-logo">Skul 5</a>
            <ul id="nav-mobile" class="right">
                <li><a href="/listado">Listado</a></li>
            </ul>
        </div>
    </nav>
</header>
<main>
    <div class="container z-depth-4 separable">
        <h3 class="center-align">Lista de estudiantes</h3>
        <table>
            <thead>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Carnet</th>
            <th>Carrera</th>
            </thead>
            <th:block th:each="student, row:${students}">
                <tr>
                    <td th:text="${student.code}"></td>
                    <td th:text="${student.name}"></td>
                    <td th:text="${student.lastName}"></td>
                    <td th:text="${student.code}"></td>
                    <td th:text="${student.career}"></td>
                </tr>
            </th:block>
        </table>
        <form th:action="@{/delete}" method="post">
            <div class="input-field">
                <label for="input-id">Id</label>
                <i class="material-icons prefix">person</i>
                <input type="number" id="input-id" th:name="id" class="validate"
                       placeholder="1"
                       aria-describedby="name-help"
                       data-length="50">
            </div>
            <button class="btn primary" type="submit" name="action" value="delete">Eliminar</button>
            <button class="btn primary" type="submit" name="action" value="edit">Editar</button>
        </form>
    </div>
</main>
<footer class="page-footer black">
    <div class="footer-copyright">
        <div class="container">
            <p class="grey-text text-lighten-4 right">
                copyright 2020© under apache 2.0 licence
            </p>
            <p class="grey-text text-lighten-4">Autor: 00088116</p>
        </div>
    </div>
</footer>
<script src="webjars/materialize-css/dist/js/materialize.min.js"></script>
</body>
</html>